{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
  <div class="container">
    <div class="container">
        <h1>About Us</h1>
    </div>
    <div class="container">
      <div class="container">
        <h3 class="about">Our team consists of 3 members </h3>
        <ul>
          <li><h4 class="about_us_dev_info">Tuan (Team Leader)</h4></li>
          <li><h4 class="about_us_dev_info">Phat</h4></li>
          <li><h4 class="about_us_dev_info">Tuan</h4></li>
      </div>
      <div class="container">
        <p>This website is a web project that created by our group.
        This project can be used for education purpose.
        Feel free to download and change things as you like.</p>
        <p>Based on data from 2024, the market is growing once more following the epidemic, and the most recent figures indicate that more people are shopping for goods like laptops and phones. Taking this into consideration, we conceptualized and created an electronic device e-commerce project. This is a website that sells computers and phones, with a primary focus on genuine products from well-known brands like ASUS, iPhone, and so on, distributed through the internet. We want to be able to replicate the business strategy in order to provide people with the best products on our sales website, KKT..</p>
    </div>
{% endblock %}